@font-face {
    font-family: 'sans-bold';
    src:
        url('fonts/PT_Sans-Web-Bold.ttf');

}

@font-face {
    font-family: 'sans-regular';
    src:
        url('fonts/PT_Sans-Web-Regular.ttf');

}

h1, h2, h3{
  margin:0;
  font-family: "sans-regular";
}

p{
  margin: 0;
  line-height: 15px;
  font-family: "sans-regular"
}

#rse-container p, #rse-container li{
  color:#a6a6a6;
  font-size: 13px;
  font-family: "sans-regular"
}

#rse-container .left-upper-box{
  /*border-right: 1px dashed #04a9ae;*/
}

#rse-container .left-upper-box h1{
  font-size: 4em;
  font-weight: bold;
  line-height: .6em;
  margin-bottom:10px;
}
#rse-container .left-upper-box h1 span{
  font-size:.7em;
}

#rse-container .left-upper-box h2 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
  padding-bottom:5px;
}

#rse-container .left-upper-box h2 span:first-child{
  font-size: 1.7em;
  line-height:inherit
}

#rse-container .left-upper-box h2 span:nth-child(2){
  font-size: 0.9em;
}

#rse-container .left-upper-box h2 span:nth-child(4){
  font-size: 1.2em;
}

.left-upper-box img{
  width: 5em;
}



/*.upper-box-inner.inner-1,
.upper-box-inner.inner-2,
.upper-box-inner.inner-3,
.upper-box-inner.inner-4{
  border-bottom: 1px dashed #04a9ae;

}*/
.upper-box-inner h3{
  font-size: 1.3em;
  font-weight: bold;
}


.upper-box-inner.inner-2{
  /*padding-top: 10px;
  padding-bottom: 10px;
  */
}

.upper-box-inner.inner-1 > div:first-child,
.upper-box-inner.inner-1 > div:nth-child(2),
.upper-box-inner.inner-1 > div:nth-child(3),
.upper-box-inner.inner-2 > div:first-child{
  border-right: 1px dashed #04a9ae;
}

.upper-box-inner > div > img, .upper-box-inner.inner-5 img{
  position: relative;
  width: 100%;
}

.upper-box-inner.inner-5 img{
  padding-top: 15px;
}



.upper-box-inner > div {
  padding: 5px;
}

.objetivo-p{
  padding: 30px;
  margin-top:10px;
}

.bottom-box-container{
padding:0;
}

.bottom-box-container .container-title{
	padding-left:5px;
	padding-right:5px;
}

.objetivo-p p span{
  font-size: 2em;
  color: #333;
  font-weight: bold;
}

.objetivo-p{
  background-color: #f2f2f2;
  padding: 5px;
  margin-bottom: 15px;
}

.container-title > div{
  padding: .5em 0;
}

.container-title{

}

.container-title label{
  font-weight: normal;
  margin-top: 5px;
  font-size:10px;
  text-align:center;
  display:inline-block;
  width:100%;
}

.container-title .col-lg-7{
	padding-left:5px;
	padding-right:5px;	
}

.container-title .title img,.container-img img{
  width: 100%;
}

.container-title .title label, .container-title .title p{
  color: white !important;
}

.container-title .title p{
  /*padding-top: 2em;*/
  padding-top:10px;
}

.container-title .title > div:first-child{
  border-right: 1px dashed white;
}
.container-img{
  padding-top: 5px;
  padding-bottom: 2em;
  padding-right:5px;padding-left:5px;
}




/*tener en cuenta}*/


.color-lightblue{
  color: #04a9ae;
}

.color-green{
  color: #0a6666;
}

.color-amarillo{
  color:#f9ad4d;
}

.color-turquesa{
  color:#42b1f0;
}

.color-verde{
  color:#acd157;
}

.title-turquesa{
  background-color: #42b1f0;
}

.title-verde{
  background-color:#acd157;
}

.title-amarillo{
  background-color:#f9ad4d;
}

.left-dashed{
	border-left:1px dashed  #42b1f0;
}

.right-dashed{
	border-right:1px dashed  #42b1f0;
}
.dashed{
	margin-top:10px;
	margin-bottom:10px;
	border-top:1px dashed  #42b1f0;
	float:left;display:inline-block;width:100%;
}

.left-upper-upper{
	text-align:center;
}

.upper-text{display:inline-block;}

.lateral-compromiso img{max-width:50px;}
.lateral-compromiso{text-align:center;}

.programas-containers p{width:80%; display:inline-block; background-color:#e6e6e7; padding:5px;}
.programas-containers {margin:10px 0;}

.logo-container{display:inline-block;width:20%;overflow:hidden;height:100%;}
.logo-container img{max-width:90%;padding-bottom:20px;}