@font-face {
    font-family: 'sans-bold';
    src:
        url('../fonts/OpenSans-ExtraBold.ttf');

}

@font-face {
    font-family: 'sans-regular';
    src:
        url('../fonts/OpenSans-Regular.ttf');

}

@font-face {
    font-family: 'lato-regular';
    src:
        url('../fonts/Lato-Regular.ttf');

}

@font-face {
    font-family: 'lato-bold';
    src:
        url('../fonts/Lato-Bold.ttf');

}

@font-face {
    font-family: 'lato-black';
    src:
        url('../fonts/Lato-Black.ttf');

}

.sans-bold{font-family:"sans-bold" !important;}
.lato-bold{font-family:"lato-bold" !important;}

h1, h2, h3{
  margin:0;
  font-family: "sans-regular";
}

#rse-container strong{
	font-family: "sans-bold"
}

p{
  margin: 0;
  line-height: 15px;
  font-family: "sans-regular"
}

#rse-container p, #rse-container li{
  color:#6d6d6d;
  font-size: 15px;
  font-family: "lato-regular";
  line-height:24px;
}

#rse-container .left-upper-box{
  /*border-right: 1px dashed #04a9ae;*/
}

#rse-container .left-upper-box h1{
  font-size: 85px;
  font-weight: bold;
  line-height: .7em;
  /*margin-bottom:10px;*/
  padding-top:5px;
  font-family:lato-bold;
  padding-right:15px;
}
#rse-container .left-upper-box h1 span{
  font-size:.64em;
}

#rse-container .left-upper-box h2 {
  font-size: 35px;
  font-weight: bold;
  line-height: 1em;
  padding-bottom:5px;
  font-family:lato-bold;
  padding-left:15px;
}

#rse-container .left-upper-box h2 span:first-child{
  font-size: 1.7em;
  line-height:inherit
}

#rse-container .left-upper-box h2 span:nth-child(2){
  font-size: 0.9em;
}

#rse-container .left-upper-box h2 span:nth-child(4){
  font-size: 1.2em;
}

.left-upper-box img{
  width: 100px;
  padding-top:20px;
}



/*.upper-box-inner.inner-1,
.upper-box-inner.inner-2,
.upper-box-inner.inner-3,
.upper-box-inner.inner-4{
  border-bottom: 1px dashed #04a9ae;

}*/
.upper-box-inner h3{
  font-size: 28px;
  font-weight: bold;
  padding-bottom:10px;
  font-family:lato-bold;
}


.upper-box-inner.inner-2{
  /*padding-top: 10px;
  padding-bottom: 10px;
  */
}

.upper-box-inner.inner-1 > div:first-child,
.upper-box-inner.inner-1 > div:nth-child(2),
.upper-box-inner.inner-1 > div:nth-child(3),
.upper-box-inner.inner-2 > div:first-child{
  /*border-right: 1px dashed #04a9ae;*/
}

.upper-box-inner > div > img, .upper-box-inner.inner-5 img{
  position: relative;
  width: 80%;
}

.upper-box-inner.inner-5 img{
  padding-top: 15px;
}



.upper-box-inner > div {
  padding: 5px 0;
}

.objetivo-p{
  padding: 30px;
  margin-top:10px;
}

.bottom-box-container{
padding:0;
}

.bottom-box-container .container-title{
	padding-left:5px;
	padding-right:5px;
}

.objetivo-p p span{
  font-size: 2em;
  color: #333;
  font-weight: bold;
}

.objetivo-p{
  background-color: #f2f2f2;
  padding: 5px;
  margin-bottom: 15px;
}

.container-title > div{
  padding: .5em 0;
}

.container-title{

}

.container-title label{
  font-weight: normal;
  margin-top: 5px;
  font-size:12px;
  text-align:center;
  display:inline-block;
  width:100%;
  text-transform:uppercase;
}

.container-title .col-lg-7{
	padding-left:8px;
	padding-right:5px;	
}

.container-title .title img,.container-img img{
  width: 100%;
  padding-left:5px;
  padding-right:5px;
}

.container-title .title label, .container-title .title p{
  color: white !important;
}

.container-title .title p{
  /*padding-top: 2em;*/
  padding-top:10px;
}

.container-title .title > div:first-child{
  border-right: 1px dashed white;
}
.container-img{
  padding-top: 5px;
  padding-bottom: 2em;
  padding-right:5px;padding-left:5px;
}




/*tener en cuenta}*/


.color-lightblue{
  color: #00aab1;
}

.color-green{
  color: #006a6f;
}

.color-amarillo{
  color:#f7a62c;
}

.color-turquesa{
  color:#2daade;
}

.color-verde{
  color:#a2cc3d;
}

.title-turquesa{
  background-color: #2daade;
}

.title-verde{
  background-color:#a2cc3d;
}

.title-amarillo{
  background-color:#f7a62c;
}

.left-dashed{
	border-left:2px dashed  #42b1f0;
}

.right-dashed{
	border-right:2px dashed  #42b1f0;
}
.dashed{
	margin-top:25px;
	margin-bottom:25px;
	border-top:2px dashed  #42b1f0;
	float:left;display:inline-block;width:100%;
}

.left-upper-upper{
	text-align:center;
}

.upper-text{display:inline-block;}

.lateral-compromiso img{max-width:80px;display:block;}
.lateral-compromiso span{font-size:18px; font-family: lato-regular;}
.upper-box-inner > .lateral-compromiso{text-align:center;padding-top:50px;}

#rse-container .programas-containers p{width:80%; display:inline-block; background-color:#e6e6e7; padding:10px;font-family: lato-bold;}
.programas-containers {margin:10px 0;}

.logo-container{display:inline-block;width:20%;overflow:hidden;height:100%;}
.logo-container img{max-width:90%;padding-bottom:20px;}

#rse-container .col-lg-12{padding-left:0;padding-right:0;}
#rse-container strong{color:#606060;}

#rse-container li span{
	margin-left:-15px;
}